site_name: python-try
repo_url: https://github.com/vkuehn/python-try
site_url: https://vkuehn.github.io/python-try
site_description: This is a template repository for Python projects that use uv for their dependency management.
site_author: Volker Kuehn
edit_uri: edit/main/docs/
repo_name: vkuehn/python-try
copyright: Maintained by <a href="https://github.com/vkuehn/vkuehn">vkuehn</a>.

nav:
  - Home: index.md
  - Modules: modules.md

plugins:
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
            show_submodules: true
          paths: [.] # actually not needed, default

theme:
  name: material
  features:
    - navigation.tabs
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/vkuehn/python-try
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/python-try

markdown_extensions:
  - attr_list
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
