name: release-main

on:
  release:
    types: [published]

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-uv-env

      - name: Build docs via tox (strict)
        run: uv run tox -e docs-test

      - name: Deploy documentation
        run: uv run mkdocs gh-deploy --force
